<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juan Francisco Garrido</p>
        <p>full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore asperiores facere assumenda possimus sequi ut quia mollitia voluptatibus, omnis consectetur debitis dolore necessitatibus dignissimos veniam cumque doloribus voluptates! Doloribus, enim!</p>
        </span>
    </div>
</div>